{
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  // "parser": "@babel/eslint-parser",yarn
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"]
  }
}
