<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script> -->
  <% if (isLocal) { %>
    <script src="/packages/systemjs/system.js"></script>
    <script src="/packages/systemjs/extras/amd.js"></script>
    <% } else { %>
      <script src="/packages/systemjs/system.min.js"></script>
      <script src="/packages/systemjs/extras/amd.min.js"></script>
      <% } %>

        <script type="systemjs-importmap"><%= packagesImportsMap %></script>
        <script type="systemjs-importmap"><%= modulesImportsMap %></script>
        <% if (modulesImportsMapUrl) { %>
          <script type="systemjs-importmap"><%= modulesImportsMapUrl %></script>
          <% } %>

            <script type="systemjs-importmap">
          {
            "imports": {
              "@openemp/root-config": "/openemp-root-config.js"
            }
          }
        </script>

</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@openemp/styleguide');
    System.import('@openemp/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>